* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 250);
}

ul {
  list-style-type: none;
}

p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header,
main,
aside,
footer {
  border: 0px solid #ccc;
  padding: 5px;
  font-family: "CENTURY GOTHIC", normal;
  z-index: 2;
}

aside>img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

li>img {
  max-width: 100%;
  max-height: 50vh;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Zilla Slab Highlight', cursive !important;
  font-size: 34px;
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

aside.left-sidebar {
  grid-area: left-sidebar;
  /* background-color: rgba(0, 255, 170, 0.4); */
}

aside.right-sidebar {
  grid-area: right-sidebar;
}

aside.left-sidebar,
aside.right-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Zilla Slab Highlight', cursive !important;
  font-size: 24px;
}

footer {
  grid-area: footer;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-image: url(./png/black-306213_1280.png);
  background-size: auto 60px;
  /* background-color: red; */
}

footer p {
  background-color: whitesmoke;
  box-shadow: 1px 1px 10px 2px whitesmoke;
}

canvas {
  display: none;
}

#fs label {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

#fs label span {
  display: block;
  position: relative;
  padding: 8px;
  width: 100%;
  height: 100%;
}

#files {
  display: none;
}

#inform {
  margin: auto;
  height: 60px;
  width: 220px;
  display: flex;
  justify-content: space-around;
}

#submit,
#fs {
  color: black;
  width: 100px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  display: block;
  background-image: linear-gradient(to left, transparent 50%, transparent 0%, black 50%, black);
  background-color: whitesmoke;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  font: 400 18px tahoma;
  border: 1px solid black;
}

#submit:hover,
#fs:hover {
  background-position: 0 0;
  color: #fff;
}

#grid {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template: 100px 1fr 100px / 230px 1fr 230px;
  grid-template-areas: ". header ."
    "left-sidebar main right-sidebar"
    ". footer .";
}

@media only screen and (max-width:750px) {
  #grid {
    grid-template: 100px auto auto auto 100px / 1fr;
    grid-template-areas: "header"
      "main"
      "left-sidebar"
      "right-sidebar"
      "footer";
  }
}

#list {
  box-shadow: 3px 3px 10px 1px rgb(206, 206, 206);
}